html {
    display: flex;
    display: flex;
    flex-direction: column;
}

body {

    margin: 0;

    font-family: roboco;

}

header {
    background-color: #1f2937;
    color: white;
}


.top {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    gap: 20PX;
    margin-bottom: 60px;

}

.oden {
    display: flex;
    gap: 20px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}


.hero {
    font-size: 48px;
    color: #F9FAF8;
    font: weight 900px;
}

.para {
    font-size: 18px;
    color: #e5e7eb;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    gap: 30px;
}

button {
    padding: 10px;
    border-radius: 30px;
    width: 120px;
    font-size: 16px;
    color: #3882f6;
}

.border {
    border: #3882f6 5px solid;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    padding: 50px;
}

.third {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.four {
    font-style: italic;
    font-weight: lighter;
    display: flex;
    flex-direction: column;

}

h3 {
    align-self: flex-end;
}